In [1]:
# Ideally these should be set outside code.
import os
os.environ['PGHOST'] = "localhost"
os.environ['PGDATABASE'] = "crsp"

In [2]:
import os
import re
import json
import pandas as pd

from sqlalchemy import create_engine
from pandas.io.json import json_normalize

conn_string = 'postgresql://' + os.environ['PGHOST'] + '/' + os.environ['PGDATABASE']
engine = create_engine(conn_string)

target_schema = "se_features"

engine.execute("SET search_path TO %s, public" % target_schema)
rv = engine.execute("SELECT category FROM %s.liwc_2015" % target_schema)

categories = [ r['category'] for r in rv]

plan = """
    SELECT word_list
    FROM %s.liwc_2015 """ % target_schema + "WHERE category = %s"

mod_word_list = {}
for cat in categories:
    rows = list(engine.execute(plan, [cat]))
    word_list = rows[0]['word_list']
    mod_word_list[cat] = [re.sub('\*(?:\s*$)?', "[a-z0-9]*(')?[a-z0-9]*", word.lower())
                            for word in word_list]
    
# Include numeric values in Number category (modified by Yvonne)
mod_word_list['Number'].append('[0-9]+(\.[0-9]+)?')
mod_word_list['Number'].append('\.[0-9]+')

# Include a word that is not shown in dict but used by LIWC
mod_word_list['Affect'].append('(would) like')
mod_word_list['Posemo'].append('(would) like')


# Pre-compile regular expressions.
regex_list = {}
for key in mod_word_list.keys():
    # NOTE: Deleted hyphen for testing
    regex = r"\b(?:" + "|".join(mod_word_list[key]) + r")(?=(?:[^a-zA-Z0-9_']|$))"
    regex_list[key] = re.compile(regex)

In [3]:
rv = engine.execute("SELECT id FROM %s.negative_liwc_2015" % target_schema)

neg_ids = [r['id'] for r in rv]

plan = """
    SELECT word_list
    FROM %s.negative_liwc_2015 """ % target_schema + "WHERE id = %s"

neg_mod_word_list = {}
for neg_id in neg_ids:
    rows = list(engine.execute(plan, [neg_id]))
    word_list = rows[0]['word_list']
    neg_mod_word_list[neg_id] = [re.sub('\*(?:\s*$)?', '[a-z]*', word.lower())
                            for word in word_list]
    

plan = """
    SELECT category
    FROM %s.negative_liwc_2015 """ % target_schema + "WHERE id = %s"

# Pre-compile regular expressions.
neg_cat_list = {}
neg_regex_list = {}

for key in neg_mod_word_list.keys():
    rows = list(engine.execute(plan, [key]))
    neg_cat = rows[0]['category']
    neg_cat_list[key] = neg_cat
    # NOTE: Deleted hyphen for testing
    neg_regex = r"\b(?:" + "|".join(neg_mod_word_list[key]) + r")(?=(?:[^a-zA-Z0-9_']|$))"
    neg_regex_list[key] = re.compile(neg_regex)

In [4]:
from collections import Counter 
def pos_liwc_counter(the_text):
    text = re.sub(u'\u2019', "'", the_text).lower()
    the_dict = Counter()
    for cat in categories:
        num = len(re.findall(regex_list[cat], text))
        the_dict[cat] += num
    return the_dict

def neg_liwc_counter(the_text):
    text = re.sub(u'\u2019', "'", the_text).lower()
    the_neg_dict = Counter()
    for neg_id in neg_ids:
        neg_cat = neg_cat_list[neg_id]
        num = len(re.findall(neg_regex_list[neg_id], text))
        the_neg_dict[neg_cat] += num
    return the_neg_dict

def add_liwc_counters(the_text):
    pos_counter = pos_liwc_counter(the_text)
    neg_counter = neg_liwc_counter(the_text)
    pos_counter.subtract(neg_counter.elements())
    return pos_counter

In [16]:
sample_calls = pd.read_sql("""
    SELECT file_name, last_update, section, context, speaker_number
    FROM streetevents.speaker_data 
    WHERE context = 'pres'
    ORDER BY RANDOM()
    LIMIT 50""", con = engine)

sample_calls

     file_name                last_update  section context  speaker_number
0    5744038_T  2015-09-01 23:13:04+10:00        2    pres               4
1   12284508_T  2019-02-19 19:37:00+11:00        1    pres               5
2    2768591_T  2010-03-02 08:42:27+11:00        1    pres              75
3   13073558_T  2020-04-21 09:05:27+10:00        1    pres              22
4    2499104_T  2009-10-28 08:08:31+11:00        2    pres              16
5   12846991_T  2019-11-14 02:18:30+11:00        1    pres               6
6    3742342_T  2011-02-11 03:54:43+11:00        1    pres              54
7    1044079_T  2005-04-01 07:59:21+10:00        1    pres               1
8   12852438_T  2019-11-06 03:47:28+11:00        1    pres               1
9    5944500_T  2016-03-16 16:02:30+11:00        1    pres              20
10   2127338_T  2009-05-13 23:13:38+10:00        1    pres               3
11  12458714_T  2019-05-03 17:39:13+10:00        1    pres               4
12   4014538_T  2011-05-18 05:04:37+10:00        1    pres              32
13    528754_T  2002-05-29 00:01:06+10:00        1    pres              52
14   5599256_T  2015-01-21 06:36:48+11:00        1    pres              47
15  12549441_T  2019-06-04 10:58:55+10:00        1    pres              50
16   5758208_T  2015-07-31 19:13:43+10:00        1    pres               1
17   6132433_T  2016-10-28 05:18:53+11:00        1    pres               1
18   5739731_T  2017-11-06 13:08:08+11:00        1    pres              11
19   4701397_T  2012-03-07 01:09:55+11:00        1    pres               2
20   2532407_T  2009-11-12 03:13:43+11:00        1    pres               5
21    636991_T  2002-07-24 21:23:34+10:00        1    pres              91
22   5871218_T  2015-12-03 11:59:23+11:00        1    pres               2
23   5883681_T  2015-12-08 06:26:47+11:00        1    pres              20
24   4675307_T  2011-12-02 04:32:43+11:00        1    pres               2
25   1102889_T  2005-07-29 06:21:27+10:00        1    pres             152
26   1052637_T  2005-05-06 06:59:38+10:00        1    pres               1
27   3037338_T  2010-04-23 13:08:45+10:00        1    pres              98
28   3950515_T  2011-04-29 12:53:02+10:00        1    pres               2
29  13043260_T  2020-03-14 10:38:54+11:00        1    pres               1
30   4861722_T  2012-12-19 10:33:28+11:00        1    pres               2
31   3195890_T  2010-07-01 00:50:22+10:00        1    pres            1369
32   2725519_T  2010-02-05 08:13:14+11:00        1    pres             181
33   2473087_T  2009-10-06 12:37:55+11:00        1    pres            2317
34   4686049_T  2012-01-10 06:00:51+11:00        1    pres               2
35   3719738_T  2011-02-03 00:04:11+11:00        1    pres               2
36  12873360_T  2019-11-10 19:11:04+11:00        1    pres               5
37  12432041_T  2019-05-07 17:11:32+10:00        1    pres              21
38   1013054_T  2005-02-10 07:17:47+11:00        1    pres               1
39  11482970_T  2018-05-31 09:53:13+10:00        1    pres              14
40   1201066_T  2006-02-10 11:03:36+11:00        1    pres               5
41  12081655_T  2018-10-12 12:42:42+11:00        1    pres               3
42   2315983_T  2009-07-22 16:25:47+10:00        1    pres               4
43   6088904_T  2016-11-22 01:31:42+11:00        1    pres               1
44   4908983_T  2012-09-21 21:47:59+10:00        1    pres              70
45    773355_T  2003-08-30 03:21:45+10:00        1    pres               8
46   5004429_T  2013-02-14 17:34:48+11:00        1    pres               4
47  12608534_T  2019-07-30 22:44:01+10:00        1    pres               5
48    742589_T  2003-05-23 09:42:04+10:00        1    pres              61
49   3795752_T  2011-03-10 17:54:16+11:00        1    pres              13

In [18]:
for call in range(0, 50):
    file_name = sample_calls['file_name'][call]
    speaker_number = sample_calls['speaker_number'][call]
    call_text = pd.read_sql("""
    SELECT speaker_text
    FROM streetevents.speaker_data
    WHERE file_name = '%s' AND section = 1 AND context = 'pres' AND speaker_number = %s"""%(file_name, speaker_number), con = engine)
    output = "sample_50/" + file_name + ".txt"
    with open(output, 'w') as f:
        f.write(call_text.iloc[0,0])
        f.close()