In [1]:
import pandas as pd
from sqlalchemy import create_engine
from ling_features import non_answers
from nltk import sent_tokenize

conn_string = 'postgresql://localhost/crsp'

engine = create_engine(conn_string)

sql =  """
SELECT file_name, last_update, speaker_number, section,
   speaker_text
FROM streetevents.speaker_data
WHERE file_name = '13139395_T' AND context='qa' 
ORDER BY section, context, speaker_number"""

speaker_data = pd.read_sql(sql, engine)

In [2]:
speaker_data['last_update'] = speaker_data['last_update'].map(lambda x: str(x.astimezone('UTC')))
speaker_data['sents'] = speaker_data['speaker_text'].apply(sent_tokenize)
speaker_data['non_answers'] = speaker_data['sents'].apply(non_answers)
speaker_data = speaker_data.drop(['speaker_text', 'sents'], axis=1)

In [3]:
speaker_data

,file_name,last_update,speaker_number,section,non_answers
0,13139395_T,2020-05-18 17:35:30+00:00,1,1,None
1,13139395_T,2020-05-13 04:16:48+00:00,1,1,None
2,13139395_T,2020-05-13 04:16:48+00:00,2,1,None
3,13139395_T,2020-05-18 17:35:30+00:00,2,1,None
4,13139395_T,2020-05-18 17:35:30+00:00,3,1,None
...,...,...,...,...,...
113,13139395_T,2020-05-18 17:35:30+00:00,57,1,None
114,13139395_T,2020-05-18 17:35:30+00:00,58,1,"[{""regex_id"": 1, ""sentence"": ""We don't know wh..."
115,13139395_T,2020-05-13 04:16:48+00:00,58,1,"[{""regex_id"": 1, ""sentence"": ""We don't know wh..."
116,13139395_T,2020-05-13 04:16:48+00:00,59,1,None
117,13139395_T,2020-05-18 17:35:30+00:00,59,1,None